<?xml version='1.0' encoding='utf-8'?>
<widget id="au.com.blinkmobile.hybridapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HybridApp</name>
    <description>
        A common shell for hosting BlinkMobile web content.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <!--for launch app-->
    <!--content src="index.html" /-->
    <!--for test app-->
    <content src="tests/SpecRunner.html" />
    <access origin="*" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="Fullscreen" value="false" />
</widget>
