<?xml version='1.0' encoding='utf-8'?>
<widget id="au.com.blinkmobile.hybridapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HybridApp</name>
    <description>
        A common shell for hosting BlinkMobile web content.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <!--for launch app-->
    <content src="offlineData/d6aad549714cef60767a6c032f233500.html" />
    <!--content src="index.html" /-->
    <!--for test app-->
    <!--content src="tests/SpecRunner.html" /-->
    <access origin="*" />
    <access origin="https://*.cloudfront.net" subdomains="true"/>

    <!-- these are our current default domains -->
    <access origin="https://*.blinkm.co" subdomains="true"/>

    <!-- redundant but whatever -->
    <access origin="https://d.blinkm.co" subdomains="true"/>

    <!-- is this even used? -->
    <access origin="https://blinkev.co" subdomains="true"/>

    <access origin="https://d.sg.blinkm.co" subdomains="true"/>
    <access origin="https://d.eu.blinkm.co" subdomains="true"/>

    <!-- cre8 domains -->
    <access origin="https://cre8m.co" subdomains="true"/>
    <access origin="https://d.cre8m.co" subdomains="true"/>

    <!-- required because the platform uses google maps -->
    <access origin="https://google.com" subdomains="true"/>
    <access origin="https://*.google.com" subdomains="true" launch-external="true"/>
    <access origin="https://google.com.au" subdomains="true"/>
    <access origin="https://*.google.com.au" subdomains="true" launch-external="true"/>
    <access origin="https://google.co.uk" subdomains="true"/>
    <access origin="https://*.google.co.uk" subdomains="true" launch-external="true"/>
    <access origin="https://google.us" subdomains="true"/>
    <access origin="https://*.google.us" subdomains="true" launch-external="true"/>
    <access origin="https://googleapis.com" subdomains="true"/>
    <access origin="https://maps.gstatic.com" subdomains="true"/>
    <access origin="https://ssl.gstatic.com" subdomains="true"/>

    <access origin="https://facebook.com" subdomains="true" launch-external="true"/>
    <access origin="https://twitter.com" subdomains="true" launch-external="true"/>

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="Fullscreen" value="false" />
</widget>
